<div class="container">
  <h2></h2>
  <div class="box-body row">
    <div class="table-responsive col-md-10">
      <table class="table">
        <thead>
          <tr>
            <th>Pregunta</th>
            <th>Respuesta</th>
          </tr>
        </thead>
        <tbody>
          <% @form_response.question_responses.each do |question_response| %>
            <tr>
              <td><strong><%= question_response.question.text %>: </strong></td>
              <td>
                <% if question_response.question.image? %>
                  <%= image_tag question_response.image.url(:thumb) %>
                <% else %>
                  <%= question_response.to_s %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div><!-- /.table-responsive -->
  </div><!-- /.box-body -->
</div>
