<h1>Pregunta de respuesta abierta corta</h1>
<div class="col-md-12">
  <div class="field form-group">
    <%= question.label :text, "Nombre", class: "lead lead-lg"  %>
    <%= question.text_field :text, class: "form-control", id: "password" %>
  </div>
</div>