<h4>Pregunta de corta respuesta abierta</h4>
<div class="col-md-12">
  <div class="field form-group">
    <%= f.label :text, "Nombre" %>
    <%= f.text_field :text, class: "form-control", id: "password" %>
    <%= f.hidden_field :question_type, :value => :input %>
  </div>
</div>