<div class="container">
  <div class="row">
    <% @forms.each do |form| %>
      <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
          <div class="caption">
            <h4><%= form.name %></h4>
            <p><%= form.description %></p>
            <p>
              <%= link_to "Editar", edit_admin_form_path(form), class: "btn btn-warning" %>
              <%= link_to "Eliminar", admin_form_path(form), method: :delete, data: { confirm: '¿Esta seguro que desea eliminarlo?' }, class: "btn btn-danger" %>
             </p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
